@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Serif';
  src: url('../../public/fonts/PPNeueWorld-Regular.otf');
}

@font-face {
  font-family: 'Sans';
  src: url('../../public/fonts/PPNeueMontreal-Regular.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
  color: white;
}

p{
  font-family: 'Sans';
}

h1, h2{
  font-family: 'Serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
